.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 96px; 
  align-items: center;
}

@media (max-width: 768px) {
  .content   {
    gap: 90px; 
  } 
}

@media screen and (max-width: 730px) {
  .content   {
    gap: 64px; 
  }
}

