.cover {
  background-image: url("../../images/cover-trains.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 1184px;
  height: calc(92.5vw * 0.625);
  min-height: 200px;
  margin: 0 48px 0 48px;
}
.cover:hover {
  z-index: 2;
}
@media screen and (max-width: 1024px) {
  .cover {
    height: calc(100vw * 0.625);
 }
}