.place {
  width: 100%;
  max-width: 984px;
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: auto auto;
  row-gap: 48px;
  column-gap: 40px;
  grid-template-areas:
    "place__title  place__website"
    "place__image  place__paragraph";
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    column-gap: 28px;
  }
}

@media screen and (max-width: 720px) {
  .place {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
}
